body {
  font-family: Arial, Helvetica, sans-serif;
}

.shop {

  width: 140px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.quantity {
  background-color: #057abd;
  border-radius: 20px;
}

#container {
  width: 100%;
  height: 100vh;
  background-color: #d5ccd7;
  overflow: hidden;
}

#other_restaurantslinks {
  width: 250px;
  height: 100vh;
  background-color: #f6f2f7;
}

#container {
  display: flex;
  flex-direction: row;
}

#icon {
  width: 250px;
  height: 90px;
}

#restaurantlist {
  width: 250px;
  height: 100%;
  background-color: #f6f2f7;
}

.list {
  line-height: 30px;
}

#head {
  width: 100%;
  height: 100vh;
  background-color: #0a9aee;
  overflow-y: scroll;
}

#navigation {
  width: 100%;
  height: 70px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #0a9aee;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.content {
  width: 100%;
  min-height: 750px;
  background-color: #d2dbf7;
}

.AdiGasimage {
  width: auto;
  height: auto;
  background-color: #d2dbf7;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
}


.adiimage {
  max-width: 250px;
  height: auto;
  flex-shrink: 1;
}

.imagebutton {
  background-color: #0a9aee;
  margin-top: 1px;

  border-radius: 8px;
  padding: 10px;
  border: 0px;
  color: white;
  height: auto;
  flex-shrink: 1;
}

.imagetext {
  font-size: medium;
  margin-left: 10px;
  font-weight: bold;
  flex-shrink: 1;
}

.val {
  font-size: medium;
  color: #0a9aee;
  margin-left: 15px;
  margin-bottom: 1px;
  font-weight: bold;
  flex-shrink: 1;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}

.nav {
  padding: 12px;
  border-radius: 20px;
  border: 0px;
  outline: none;
  margin-left: 15px;
  margin-right: 15px;
}

.v {
  background-color: #057abd;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
}

#navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex: 2 2 10%;
}

#cont {
  width: 100%;
  height: 100%;
  background-color: #9fabd0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#secondcont {
  width: 65%;
  height: 90%;
  background-color: #b7bed4;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.section {
  width: 50vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.navs {
  padding: 12px;
  border-radius: 20px;
  border: 0px;
  outline: none;
  width: 35vw;
}

.e {
  background-color: #7382ae;
  margin-left: 47vw;

}

#secondcontc {
  width: 65%;
  height: 90%;
  background-color: #b7bed4;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.section1 {
  width: 50vw;
  height: 30vh;
  margin-top: 8vh;
  margin-left: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.navsc {
  padding: 12px;
  border-radius: 20px;
  border: 0px;
  outline: none;
  width: 35vw;
  margin-bottom: 20px;
}

.ec {
  background-color: #7382ae;
  margin-left: 40vw;

}

.logincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.wrapper h2 {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}

.wrapper h2::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 28px;
  border-radius: 12px;
  background: #4070f4;
}

.wrapper form {
  margin-top: 30px;
}

.wrapper form .input-box {
  height: 52px;
  margin: 18px 0;
}

form .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.input-box input:focus,
.input-box input:valid {
  border-color: #4070f4;
}

form .policy {
  display: flex;
  align-items: center;
}

form h3 {
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}

.input-box.button input {
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #4070f4;
  cursor: pointer;
}

.input-box.button input:hover {
  background: #0e4bf1;
}

form .text h3 {
  color: #333;
  width: 100%;
  text-align: center;
}

form .text h3 a {
  color: #4070f4;
  text-decoration: none;
}

form .text h3 a:hover {
  text-decoration: underline;
}